@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 400;
    font-display: swap;
    src: url("./fonts/Inter/Inter-Regular.woff2?v=3.19") format("woff2"),
         url("./fonts/Inter/Inter-Regular.woff?v=3.19") format("woff");
  }

body {
    font-family: 'Inter';
    background: #FFFFFF;
    position: relative;
    min-height: 100vh;
}
main{
    padding-top: 95px;
    padding-bottom: 300px;
}
section{
    min-height: 500px;
}
p{
    font-weight: 300;
    font-size: 1.3em;
    line-height: 1.4em;
    letter-spacing: 0.04em;
    color: #333333;
}
h1 {
    font-weight: 600;
    font-size: 2rem;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #034A5A;
}
h2{
    font-weight: 400;
    font-size: 1.5em;
    text-transform: uppercase;
    color: #0b0d0e;
    margin-bottom: 0;
}
a {
    text-decoration: none;
    cursor: pointer;
}
img{
    max-width: 100%;
}
input{
    width: 100%;
    height: 2.5em;
    border: none;
    background: rgba(217, 217, 217, 0.4);
    margin-bottom: 2em;
}
input[type="radio" i] {
    width: 100px;

}
label{
    font-weight: 300;
    font-size: 15px;
    color: #333333;
    text-transform: uppercase;
}
textarea{
    width: 100%;
    border: none;
    background: rgba(217, 217, 217, 0.4);
}

.blue{
    background-color: #E9F8FB;
}

.white{
    background-color: #ffffff;
}

.center-all{
    display: block;
    align-content: center;
    align-items: center;
    text-align: center;
   
}
.align-center{
    display: flex;
    align-items: center;
    text-align: center;
    
}

.f-left{
    float: left;
}

.f-right{
    float: right;
    object-position: right;
}

/*Margin*/
.mt{
    margin-top: 5rem;
}
.m-1{
    margin: 1rem;
}
.m-5{
    margin: 5rem;
}
.p-1{
    padding: 1em;
}
.p-2{
    padding: 2em;
}
.p-5{
    padding: 5em;
}

/*Spacing*/
.ls{
    letter-spacing: 0.15em;
}

/* NAVBAR */
nav {
    z-index: 99;
    background-color: #FFFFFF;
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0px;
    align-items: center;
    filter: drop-shadow(0px 4px 4px rgba(98, 98, 98, 0.15));
}
.wrapper-nav {
    display: grid;
    width: 100%;
    gap: 1%;
    grid-auto-columns:9%;
  }
  .one-nav {
    grid-column: 1;
    grid-row: 1;
  }
  .two-nav {
    grid-column: 2;
    grid-row: 1;
  }
  .three-nav {
    grid-column: 4 / 8;
    grid-row: 1;
  }
  .four-nav {
    grid-column: 9;
    grid-row: 1;
  }
  .five-nav {
    grid-column: 10;
    grid-row: 1;
  }


.logo img{
    margin-top: -20px;
    width: 150px;
}
.logo{
    max-height: 100px;
}

nav a{
    margin-top: 40px;
    font-weight: 400;
    font-size: 24px;
    color: #02323D;
}

/*MAINPAGE*/
.header-main{
    z-index: 1;
    background: url("../images/header-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width:700px) {
    .button-row { 
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 50px;  
        margin-top: 50px;
    }
    .button-yellow{
        background-color: #FCBF49;
        font-size: 24px;
        border: none;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        width: 100%;
        height: 70px;
    }
    
    
}
@media screen and (min-width:700px) {
    .button-row { 
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;  
    }
    .button-yellow{
        background-color: #FCBF49;
        font-size: 24px;
        margin-top: 40px;
        border: none;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        width: 100%;
        height: 70px;
    }
    
}




.button-yellow a{
    color: rgb(0, 0, 0);
    position: relative;
    font-size: 24px;  
    top: 22px;
}

.button-outline{
    margin-left: 10%;
    margin-right: 10%;
    border: solid 2px #034A5A;
} 

.products{
    position: relative;
    padding-bottom: 100px; 
}
.products-pic img{
    height: 100%;
    width: 100%;
}
.products-info{
    position: absolute;
    bottom: 40px;
    height: 4rem;
    width: 85%;
    margin-left: 1em;
    margin-right: 1em;
    border-top: solid 2px #B7B7B7;  
}
.products-info i {
    position: absolute;
    bottom: 10px;
    right: 20px;
    font-size: 2em;
    color: #034A5A;
}
.products-info p {
    margin: 0;
    font-weight: 300;
}

/*GRID*/
@media (min-width: 1200px) {
.product-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0;
    grid-auto-columns:25%;
  }
}
@media screen and (max-width: 1200px) {
    .product-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0;
        grid-auto-columns:25%;
      }
    }
@media screen and (max-width: 600px) {
    .product-cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 0;
        grid-auto-columns:25%;
        }
    }

   .wrapper-checkout{
    display: grid;
    grid-template-columns: (6, 1fr);
    gap: 20px;     
   }
  .checkout-colum{
    grid-column: 1/4;
    grid-row: 1;
  }
  .checkout-cart-colum{
    grid-column: 4/6;
    grid-row: 1;
  }
  .square-colum{
    display: grid;
  }
  @media (min-width: 1000px) {
    .wrapper-square {
        display: grid;
        grid-template-columns: (2,1fr);
        grid-auto-rows: minmax(450px, auto);
        padding: 0em;
        grid-auto-columns:50%;
      }
      
      .square-colum img{
        width: 100%;
        min-height:100%;
        object-fit: cover;
      }
      .square-colum p{
        margin: 2.5em;
      }
      .square-colum-1{
        grid-column: 1;
        grid-row: 1;
        width: 100%; 
      }
      .square-colum-2{
        grid-column: 2;
        grid-row: 1;
        width: 100%; 
      }
      .square-colum-3{
        grid-column: 1;
        grid-row: 2;
        width: 100%;
      }
      .square-colum-4{
        grid-column: 2;
        grid-row: 2;
        width: 100%;
      }

  }
  


  @media (max-width: 1000px) {
    .wrapper-square {
        display: grid;
        grid-template-columns: (1,2fr);
        grid-auto-rows: minmax(350px, auto);
      }
      .square-colum img{
        width: 100%;
        min-height:100%;
        object-fit: cover;
      }
      .square-colum p{
        margin: 2em;
      }
      .square-colum-1{
        grid-row: 1;
        width: 100%;  
      }
      .square-colum-2{
        grid-row: 2;
        width: 100%; 
      }
      .square-colum-3{
        grid-row: 4;
        width: 100%;
      }
      .square-colum-4{
        grid-row: 3;
        width: 100%;
      }
  }

 

  /* FOOTER */
  footer{
    position:absolute;
    bottom: 0;
    margin: 0;
    background-color: #EDECEC;
    width: 100%;
    min-height: 300px;
  }
  @media screen and (min-width:700px) {
  .wrapper-footer {
    padding: 3rem;
    display: grid;
    grid-template-columns: (4,1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }
  .footer-column-1{
    grid-column: 1/2;
    grid-row: 1;
  }
  .footer-column-2{
    grid-column: 3;
    grid-row: 1;
  }
  .footer-column-3{
    grid-column: 4;
    grid-row: 1;
  }
}
@media screen and (max-width:700px) {
    .wrapper-footer {
        padding: 3rem;
        display: grid;
        grid-template-columns: (1,1fr);
        gap: 10px;
        grid-auto-rows: minmax(100px, auto);
      }
    
}


  footer h2{
    color: #626262;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 5px;
  }
  footer li{
    list-style: none;
    margin-left: -40px;
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
  }
  footer a{
    text-decoration: none;
    color: #626262;
  }
  footer i{
    color: #626262;
    font-size: 3rem;
    padding: .2rem;
    margin-left: .7rem;
  }
  .line{
    width: 190px;
    height: 0px;
    border: 1px solid #B7B7B7
  }






